*{
    margin: 0;
}

.container{
    width: 100%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: goldenrod;
    color: brown;
    padding: 10px;
}

header li{
    display:inline-block;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

header a{
    text-decoration: none;
}

.row
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 400px;
    padding: 20px;
}

.btn-signup {
    background-color:  lightblue;
    margin-top: 10px;
    padding:7px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}

.summary {
    font-size: 20px;
    margin-top: 10px;
}

.image {
    border-radius: 50px;
}

.title {
    font-size: 30px;
}

.projects {
    padding: 50px;
    text-align: center;
    background-color: aqua;
}

.proj-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.proj-box {
    width: 30%;
    font-size: 15px;
    background-color: white;
    padding: 10px;
    text-align: left;
}

.view-demo {
    background-color:  lavenderblush;
    margin-top: 10px;
    padding:7px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px;;
    cursor: pointer;

}

.services {
  background-color: #f0f8ff;
  padding: 40px;
  text-align: center;
}

.service-box {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-box h3 {
  color: #333;
  margin-bottom: 10px;
}

.service-box p {
  color: white;
}

.service-heading {
    font-size: 36px;
  margin-bottom: 40px;
  color: #444;
}

#about {
  width: 60%;
  margin: 100px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.about-heading {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;
}

.about-box {
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 15px;
  background-color: #f4faff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-box p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}
