*{
    margin: 0;
}

.container{
    width: 100%;
    margin:auto
}

header li{
    display: flex;
    justify-content: space-between;
    background-color: lavender;
    color: white;
    padding: 12px;
}

header a{
    text-decoration: none;
}
li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}